* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
.AppBar {
  background-color: #0000004d !important;
  transition: transform 2s; /* Animation */
}
.AppBar-dark {
  background-color: rgb(17, 17, 17) !important;
  transition: transform 2s; /* Animation */
}
.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.137),
      rgba(0, 0, 0, 0.267),
      rgba(0, 0, 0, 0.473),
      rgba(0, 0, 0, 0.73)
    ),
    url(./assets/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover-img {
  width: 100%;
}
